.item__filter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item__element {
    width: 120px;
    /* width: 100%; */
    /* margin-left: 16px;
    margin-right: 16px; */
}

.item__text-filter {
    margin-right: 10px;
}